.episodes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.episode-card {
  background: #181818;
  color: #fff;
  cursor: pointer;
  border-radius: 12px;
  transition: 0.2s;

  &:hover {
    transform: translateY(-5px);
    background: #222;
  }
}